header img {
  position: absolute;
  height: 130px;
  top: 0;
  left: 14%;
  z-index: 14;
  text-indent: -9999px;
  object-fit: cover;
}
.wrapped-main {
  background-color: #e30613;
  height: 1000px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 75px;
  padding-right: 75px;
  width: 70%;
}
.inside-container {
  background: white;
  height: auto;
  padding: 100px;
}
.primary-content {
  z-index: 1;
  height: 700px;
  overflow-y: scroll;
  border-bottom: 1px solid black;
}
.form-text {
  margin-top: 10px;
  display: flex;
}
.icon-send {
  flex: 10%;
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.input-text {
  flex: 70%;
  background: whitesmoke;
  height: 50px;
  outline: none;
  padding-left: 20px;
  border-radius: 10px;
  margin-right: 10px;
  border-left: none;
  border-top: none;
}

html {
  background-color: #e30613;
}
body {
  marign: 0px !important;
}
