header img {
  position: absolute;
  height: 130px;
  top: 0;
  left: 14%;
  z-index: 14;
  text-indent: -9999px;
  object-fit: cover;
}
.wrapped-main {
  background-color: #e30613;
  height: 1000px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 75px;
  padding-right: 75px;
  width: 70%;
}
.inside-container {
  background: white;
  height: auto;
  padding: 100px;
}
.primary-content {
  z-index: 1;
  height: 40rem;
  border-bottom: 1px solid black;
  overflow-y: overlay;
}
.form-text {
  margin-top: 10px;
  display: flex;
}

.icon-send {
  flex: 10%;
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.input-text {
  flex: 70%;
  background: whitesmoke;
  height: 50px;
  outline: none;
  padding-left: 20px;
  border-radius: 10px;
  margin-right: 10px;
  border-left: none;
  border-top: none;
}
@media screen and (max-width: 600px) {
  .form-text {
    align-items: center;
  }
  .icon-send {
    height: 35px;
  }
  .input-text {
    margin-right: 0px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
    width: 80%;
  }
  .inside-container {
    padding: 0px;
  }
  .wrapped-main {
    height: 0px;
  }
  .message-received {
    max-width: 58%;
  }
  .primary-content {
    height: 620px;
  }
}
html {
  background-color: #e30613;
}
body {
  marign: 0px !important;
}
